<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="mail" [(ngModel)]="mail" name="mail" />
            <input type="password" placeholder="password" [(ngModel)]="password" name="password" />
            <p>{{message}}</p>
            <div *ngIf="spinner">
                <div class="col-md-2 loader5 bg-green-grd">
                    <div class="trinity-rings-spinner">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <re-captcha (resolved)="resolved($event)" siteKey="6LdcXAAVAAAAAHxGowz5uvLwIFdjXXyUBfkoxTuy"></re-captcha>
            <br>
            <button type="button" *ngIf="todoOk == true" (click)="logIn()">login</button>
            <p class="message">¿No esta registradx? <a href="/register">Cree una cuenta</a></p>
        </form>
    </div>

</div>