<table class="table" id="tablaProd" style="background-color: rgb(94, 110, 156);color:white">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>Tipo</th>
        <th>Nombre Local</th>
        <th>Localidad Local</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of productos">
        <td>{{prod.nombre}}</td>
        <td>{{prod.marca}}</td>
        <div [ngClass]="prod.stock">
        <td>{{prod.stock | stock}}</td>
        </div>
        <td>{{prod.precio}}</td>
        <div [ngClass]="prod.tipo">
        <td>{{prod.tipo | stock}}</td>
        </div>
        <td>{{prod.localNombre}}</td>
        <td>{{prod.localLocalidad}}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-left: 35%;">
    <app-descargas [tabla]="productos"></app-descargas>
  </div>