/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html { background-color: black; }
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  padding: 5% 0 1%;
  background: rgb(0, 0, 0);
  /* background: radial-gradient(circle, rgb(118, 87, 138) 0%, rgb(73, 26, 107) 40%, rgba(0,0,0,1) 100%); */
}

.image{
    height: 150px;
    border-radius: 20px;
}

.form {
  position: relative;
  z-index: 1;
  background: rgb(100, 86, 119);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 30px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(76, 175, 125);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .cuentas{
  width: 30%;
}

.form button:hover,.form button:active,.form button:focus {
  background: rgb(160, 138, 67);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgb(104, 160, 117);
  text-decoration: underline;
}

body {
  background: #000000; 
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

p{
  color: rgb(212, 199, 81);
}

h4{
  color: rgb(212, 199, 81);
  margin-top: 10%;
  text-align: center;
}






.trinity-rings-spinner, .trinity-rings-spinner * {
  box-sizing: border-box;
}

.trinity-rings-spinner {
  height: 115px;
  width: 115px;
  margin-left: 380%;
  margin-top: -45px;
  margin-bottom: -18px;
  align-items: center;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.trinity-rings-spinner .circle {
  position: absolute;;
  display:block;
  border-radius:50%;
  border: 3px solid #780fa8;
  opacity: 1;
}

.trinity-rings-spinner .circle:nth-child(1) {
  height: 60px;
  width: 60px;
  animation : trinity-rings-spinner-circle1-animation 1.5s infinite linear;
  border-width: 3px;
}
.trinity-rings-spinner .circle:nth-child(2) {
  height: calc(60px * 0.65);
  width: calc(60px * 0.65);
  animation : trinity-rings-spinner-circle2-animation 1.5s infinite linear;
  border-width: 2px;
}
.trinity-rings-spinner .circle:nth-child(3) {
  height: calc(60px * 0.1);
  width: calc(60px * 0.1);
  animation:trinity-rings-spinner-circle3-animation 1.5s infinite linear;
  border-width: 1px;
}

@keyframes trinity-rings-spinner-circle1-animation{
  0% {
    transform: rotateZ(20deg) rotateY(0deg);
  }
  100% {
    transform: rotateZ(100deg) rotateY(360deg);
  }
}
@keyframes trinity-rings-spinner-circle2-animation{
  0% {
    transform: rotateZ(100deg) rotateX(0deg);
  }
  100% {
    transform: rotateZ(0deg) rotateX(360deg);
  }
}
@keyframes trinity-rings-spinner-circle3-animation{
  0% {
    transform: rotateZ(100deg) rotateX(-360deg);
  }
  100% {
    transform: rotateZ(-360deg) rotateX(360deg);
  }
}
